//Account
.account-username {
  color: @grey-darkest;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

.account-title {
  display: block;
  font-weight: 300;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.logout-link {
  text-decoration: none;
  color: #ffffff;
  font-size: .5em;
  cursor: pointer;
}

.account-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  height: 40%;
}

.account-option {
  color: @grey-lightest;
  font-size: 2rem;
  cursor: pointer;
  background: @grey-darkest;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.option-icon-wrapper {
  width: 2rem;
}

.rooms-icon {
  transform: rotate(0);
  transition: all .15s ease-in-out;
}

.active .rooms-icon {
  transform: rotate(180deg);
  transition: all .15s ease-in-out;
}

.account-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  width: 100%;
}

.rooms-list {
  list-style: none;
  padding: 0 0 0 1rem;
}

.room-link {
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: padding-left .3s ease-in-out;
  color: @grey-lightest;
}

.room-link:hover {
  padding-left: 1rem;
}

.active {
  border-radius: 9px 9px 0 0;
}

.rooms-wrapper {
  background: @grey-darker;
  margin-top: -2rem;
  border-radius: 0 0 9px 9px;
}

.rooms-list li {
  padding: 1rem 0;
}

.room-action-wrapper {
  display: flex;
  width: 100%;
  background: @grey-darker;
  margin-top: -1rem;
  border-radius: 0 0 9px 9px;
}
.room-action-wrapper form {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.room-input {
  background: none;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  font-size: 1.5rem;
  width: 60%;
  height: 45%;
}

.room-button {
  background: @grey-darker;
  color: @grey-lightest;
  border-radius: 6px;
  border: @grey-lightest solid 3px;
  font-size: 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
  width: 30%;
  text-align: center;
}

.room-button:hover {
  background: @grey-darkest;
}
.cls-join{fill:#f1f1f2;}
.cls-new{fill:#f1f1f2;}
.cls-toggle{fill:#f1f1f2;}
