/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700');
}

  /**
   * This injects all of Tailwind's utility classes, generated based on your
   * config file.
   *
   * If using `postcss-import`, use this import instead:
   *
   * @import "tailwindcss/utilities";
   */
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.bg-gradient {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.border-bottom {
  border-bottom: white solid 3px;
}

.text-capitalize {
  text-transform: uppercase;
}

.bg-button {
  background: white;
  color: #904e95;
  transition: all .5s ease-in-out;
}

.bg-button:hover {
  background: #904e95;
  color: white;
  transition: all .5s ease-in-out;
}
.main-wrapper {
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

.player {
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-columns: 25% 1fr;
  justify-items: center;
  position: fixed;
  bottom: 0;
}

.player-controls {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr .25fr;
}

.player-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  width: 90%;
}

.play-pause-button {
  width: 50px;
  height: 50px;
  margin: 0 2rem;
}

.skip-button {
  width: 20px;
  height: 20px;
}

.player-scrubber {
  width: 90%;
  height: 10%;
  border: 1px solid #0d3331;
  align-self: end;
}
.song-completion {
  width: 45%;
  height: 100%;
  background: #0d3331;
}

.song-info {
  display: flex;
  width: 100%;
  align-items: center;
  padding: .5rem 0 0 .5rem;
}

.album-cover {
  background: #0d3331;
  width: 5rem;
  height: 5rem;
  margin: 0 1rem 0 0;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  margin: 3rem 0 0 .5rem;
  display: grid;
  grid-template-columns: 25% 1fr;
}

.room-nav {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 10px;
}
.nav-logo {
  grid-row-start: 10;
  align-self: end;
}

.all-songs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.song-list {
  list-style: none;
  padding: 0;
}
.song-list li {
  padding: 1rem 0 0 0;
  font-size: .75rem;
}

.account-img {
  border: 4px solid #ffffff;
  border-radius: 50%;
  margin: 3rem 0 0 0;
  width: 200px;
  height: 200px;
}

.account-username {
  color: #ffffff;
  margin: 1rem 0;
}
.logout-link {
  text-decoration: none;
  color: #ffffff;
  font-size: .5em;
}

.account-img img {
  border-radius: 50%;
  width: 100%;
  min-height: 100%;
}

.account-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #ffffff;
}
.account-option {
  color: #ffffff;
  font-size: 1.2rem;
  padding: .5rem;
}

.active {
  background: #ffffff;
  color: purple;
}

.account-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  width: 100%;
}

.rooms-wrapper {

}

.rooms-list {
  list-style: none;
}

.room-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.rooms-list li {
  padding: 1rem 0;
}
.room-action-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.room-action-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-input {
  background: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-size: 2rem;
}

.room-button {
  padding: 1rem;
  background: purple;
  color: #ffffff;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.room-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: .5rem 0 0 0;
}

.room-code {
  color: #ffffff;
  margin: 1rem 0 0 1rem;
}

.search-section {
  display: flex;
}

.search-input-wrapper {
  display: flex;
  justify-content: center;
}

.search-input {
  background: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.search-button {
  background: #ffffff;
  color: purple;
}

.search-icon {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  margin: 1rem 1rem 0 0;
}

.songs-section {
  margin: 1rem 1rem 5rem 0;
}

.song-item {
  padding: .5rem;
  font-size: 1.2rem;
  color: #ffffff;
}

.song-title {
  font-weight: bolder;
}

.song-artist {
  font-style: italic;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .join {
    width: 90%;
  }
  .join-form {
    flex-direction: column;
  }

  .join-input {
    font-size: 2rem;
    width: 100%;
    margin: 1rem 0;
  }
}

@media (min-width: 1000px ) {
  .account-options {
    width: 30%;
  }

  .account-content-wrapper {
    align-items: center;
  }

  .rooms-wrapper {
    width: 30%;
  }
  .rooms-list {
    padding: 0;
  }
}
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
