* {
  font-family: mr-eaves-sans, sans-serif;
}

#app {
  background: @grey-lightest;
}

.bg-gradient {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.border-bottom {
  border-bottom: white solid 3px;
}

.text-capitalize {
  text-transform: uppercase;
}

.bg-button {
  background: white;
  color: #904e95;
  transition: all .5s ease-in-out;
}

.bg-button:hover {
  background: #904e95;
  color: white;
  transition: all .5s ease-in-out;
}
.main-wrapper {
  max-width: 100%;
  min-height: 100vh;
  //height: auto;
  //display: grid;
  //grid-template-rows: auto 1fr;
  //position: relative;
}
.join {
  width: 40%;
}
.join-form {
  flex-direction: column;
}

.join-input {
  width: 100%;
  margin: 1rem 0;
}
