.main-background {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}
.logo-wrapper {
  width: 35%;
  margin: 3rem;
}
.cls-party {
  fill:#0d0d0d;
  stroke:#0d0d0d;
}
.cls-party,.cls-pool{stroke-miterlimit:10;stroke-width:4px;}
.cls-pool{fill:none;stroke:#0d0d0d;}

.form-wrapper {
  width: 35%;
}
.login-form {
  width: 100%;
  margin: 0 auto;
}
.login-input {
  background: none;
  border-bottom: 6px solid ;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.login-input::placeholder {
  color: #3E3E42;
  opacity: 1;
  font-weight: 700;
}
.login-button {
  color: #F1F1F2;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 1rem;
}
.login-button:hover {
  background: #0d0d0d;
}
.owner-login {
  color: #BCBDC2;
  text-align: right;
}

.cls-wave{fill:none;stroke:#bcbdc2;stroke-miterlimit:10;stroke-width:15px;}

.waves-wrapper {
  width: 100%;
  overflow: hidden;
  opacity: .5;
}
.cls-wave {
  stroke-dasharray: 1390;
  stroke-dashoffset: 1390;
  animation: dash 6s ease-in-out infinite;
}

@keyframes dash {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1390;
  }
}
