//Player
.player {
  width: 100%;
  height: 13%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  position: fixed;
  bottom: 0;
  background: rgba(22,12,23,.9);
  z-index: 100;
}

.song-info {
  display: flex;
  width: 100%;
  align-items: center;
  grid-row: 1;
  color: #ffffff;
}

.song-details {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.current-song-title {
  font-weight: 500;
  font-size: .85rem;
  margin-right: .5rem;
}

.current-song-artist {
  font-weight: 300;
  font-size: .65rem;
}

.album-cover {
  background: #0d3331;
  width: 30px;
  height: 30px;
  margin: 0 1rem 0 0;
}

.player-controls {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr .25fr;
  grid-row: 2;
}

.player-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.play-pause-button {
  width: 40px;
  height: 40px;
  margin: 0 2rem;
  fill: #ffffff;
  stroke-width: 3px;
}

.play-pause-circle {
  fill: #ffffff;
}

.play-pause-action {
  fill: #904e95;
}

.skip-button {
  width: 15px;
  height: 15px;
  fill: #ffffff;
  stroke-width: 3px;
}

.previous {
  transform: rotate(180deg);
  fill: white;
}

.disabled button {
  opacity: .5;
  cursor: not-allowed;
}

.notDisabled button {
  opacity: 1;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
