//Media Queries
@media (max-width: 900px) {
  .join {
    width: 90%;
  }

  .join-input {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
.logo-wrapper, .form-wrapper {
  width: 90%;
}
}

@media (min-width: 1000px ) {


  .account-options {
    width: 30%;
  }

  .account-content-wrapper {
    align-items: center;
  }


  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .room-header {
    width: 40%;
  }
  .room-actions {
    margin: 0 0 2rem 0;
  }
  .room-code {
    margin: 2rem 0 0 0;
  }
  .main-wrapper .logo-wrapper {
    width: 100%;
  }
  .main-wrapper .waves-wrapper {
    width: 40%;
  }
  .search-wrapper {
    width: 40%;
  }
  .main-background .logo-wrapper {
    width: 35%;
  }
  .main-background .waves-wrapper {
    height: 80%;
    overflow: hidden;
  }
}
