//Media Queries
@media (max-width: 900px) {
  .join {
    width: 90%;
  }
  .join-form {
    flex-direction: column;
  }

  .join-input {
    font-size: 2rem;
    width: 100%;
    margin: 1rem 0;
  }
}

@media (min-width: 1000px ) {
  .account-options {
    width: 30%;
  }

  .account-content-wrapper {
    align-items: center;
  }

  .rooms-wrapper {
    width: 30%;
  }
  .rooms-list {
    padding: 0;
  }

  .main-wrapper {
    justify-items: center;
  }

  .room-heading {
    width: 60%;
  }

  .room-content {
    width: 60%;
  }
  .album-cover {
    display: flex;
    width: 4rem;
    height: 4rem;
    background: #904e95;
  }
  .player {
    grid-template-columns: 15% 1fr;
  }
}
