//Media Queries
@media (max-width: 900px) {
  .join {
    width: 90%;
  }

  .join-input {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
.logo-wrapper, .form-wrapper {
  width: 90%;
}
  .waves-wrapper {
    width: 120%;
  }
}

@media (min-width: 1000px ) {



  .account-options {
    width: 30%;
  }

  .account-content-wrapper {
    align-items: center;
  }

  .rooms-wrapper {
    width: 30%;
  }
  .rooms-list {
    padding: 0;
  }

  .main-wrapper {
    justify-items: center;
  }

  .room-heading {
    width: 60%;
  }

  .room-content {
    width: 60%;
  }
  .album-cover {
    display: flex;
    width: 4rem;
    height: 4rem;
    background: rgba(0,0,0,.1);
  }
  .player {
    display: flex;
    grid-template-columns: none;
    grid-template-rows: none;
    height: 12%;
  }

  .song-info {
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-self: flex-start;
    width: 25%;
    animation: none;
  }

  .song-details {
    flex-direction: column;
    align-items: end;
  }

  .current-song-title {
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 .5rem 0;
  }

  .current-song-artist {
    font-weight: 300;
    font-size: .85rem;
    margin: 0 0 .5rem 0;
  }

  .album-cover {
    width: 80px;
    height: 80px;
    justify-self: center;
  }

  .player-controls {
    grid-template-rows: none;
    justify-self: center;
    width: 100%;
    margin-left: -25%;
  }


  .song-title, .song-artist {
    max-width: 900px;
  }

  .search-section {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    max-width: 700px;
  }

  .search-input-wrapper {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }
  .roomCodeSearch {
    font-size: 1.5rem;
    margin: 1rem 0 0 1rem;
  }

}
