//Room
.room-heading {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin: .5rem 0 0 0;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 1rem;
}

.room-code {
  color: #ffffff;
  margin: 1rem 0 0 1rem;
}
