//Room
.room-wrapper {
  background: #f1f1f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  transition: all 2s ease-in-out 1s;
  overflow: hidden;
}
.main-wrapper {
  height: 100vh;
}

.room-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}
.room-header .logo-wrapper {
  margin: .2rem 0 .5rem 0;
}
.room-code {
  align-self: flex-start;
  margin: 10% 0 0 5%;
  font-weight: 300;
  font-size: 1.5rem;
}
.song-actions-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.justifyItems {
  justify-content: space-between;
}
.room-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  margin: 0 5% 0% 0;
}
.song-icon, .playlist-icon {
  opacity: .5;
}
.animateSongIcon svg .song-line-1 {
  animation: move-one 1s infinite ease-in-out;
  animation-delay: 0.2s;
}
.animateSongIcon svg .song-line-2 {
  animation: move-one 1s infinite ease-in-out;
  animation-delay: 0.4s;
}
.animateSongIcon svg .song-line-3 {
  animation: move-two 1s infinite ease-in-out;
  animation-delay: 0.6s;
}
.animateSongIcon svg .song-line-4 {
  animation:move-one 1s infinite ease-in-out;
  animation-delay: 0.8s;
}
.animateSongIcon svg .song-line-5 {
  animation:move-one 1s infinite ease-in-out;
  animation-delay: 1s;
}
.animateSongIcon svg .song-line-6 {
  animation: move-two 1s infinite ease-in-out;
  animation-delay: 1.2s;
}
.animateSongIcon svg .song-line-7 {
  animation: move-one 1s infinite ease-in-out;
  animation-delay: 1.4s;
}
@keyframes move-one{
  0% {
    transform:translateY(0px);
    }
  25% {
    transform:translateY(6px);
    }
  50% {
    transform:translateY(0px);
    }
  100% {
    transform:translateY(0px);
    }

}
@keyframes move-two{
  0% {
    transform:translateY(0px);
  }
  25% {
    transform:translateY(3px);
  }
  50% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(0px);
  }
}

.hamburger-line{
  background: @grey-darker;
  height: .35rem;
  width: 100%;
  display: block;
  margin-bottom: .4rem;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}
.playlistClose {
  margin-top: -.75rem;
  opacity: 1;
}
.playlistClose .line-1 {
  transform: rotate(135deg) translate(1.75rem, -1.5rem);
  background: @grey-darker;
}
.playlistClose .line-2 {
  transform: translateX(1000rem);
}
.playlistClose .line-3 {
  transform: translateX(-1000rem);
}
.playlistClose .line-4 {
  transform: rotate(-135deg);
  background: @grey-darker;
}
.room-content {
  overflow: hidden;
  height: 60%;
}
.song-icon, .playlist-icon {
  width: 35%;
}
.cls-song{fill:#3e3e42;}
.cls-playlist{fill:#3e3e42;}

.waves-wrapper {
  overflow: hidden;
  padding: 2rem 0 0 0;
}
.playlist-wrapper {
  display: block;
  height: 100%;
  background: @grey-darker;
  border-radius: 0 0 9px 9px;
}

.playlist-songs-section {
  overflow: scroll;
  height: 100%;
  margin: 0;
}
.playlist-songs-section:last-child {
  margin-bottom: 1rem;
}
.playlist-song-wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: .85rem 1.5rem;
}
.playlist-song-info {
  display: flex;
  flex-direction: column;
}
.playlist-song-delete {
  width: 40%;
  justify-self: end;
}
.buffer {
  height: 1.5rem;
  width: 100%;
  background: @grey-darker;
  border-radius: 9px 9px 0 0;
}
.playlist-song-info .song-title {
  font-size: 1.2rem;
  color: @grey-lightest;
}
.playlist-song-info .song-artist {
  color: @grey-lightest;
}
.playlist-wrapper .add-or-queue-wrapper {
  margin-top: 0;
  font-size: 1.2rem;
}
.song-details {
  display: block;
  color: @grey-darker;
  //margin: 1rem 0 1rem 1rem;
}

.songVisible .current-song-title{
  opacity: 1;
  //margin: 1rem 0 1rem 1rem;
  margin-left: 1rem;
  transition: all 1s ease-in-out;
}
.songVisible .current-song-artist {
  opacity: 1;
  //margin: 1rem 0 1rem 1rem;
  margin-left: 1rem;
  transition: all 1s ease-in-out;
}
.current-song-title {
  font-size: 1.5rem;
  opacity: 0;
  margin: 0;
  transition: all 1s ease-in-out;
}

.current-song-artist {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  opacity: 0;
  margin: 0;
  transition: all 1s ease-in-out;
}
.current-song-added-by {
  display: inline-block;
  opacity: 1;
}
