//Songs
.songs-section {
  margin: 1rem 1rem 5rem 1rem;
}

.song-item {
  padding: .5rem;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
}

.song-title {
  font-weight: bolder;
}

.song-artist {
  font-style: italic;
  font-size: 1rem;
}

.album-cover {
  display: none;
}
