//Room
.room-wrapper {
  background: #f1f1f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  transition: all 2s ease-in-out 1s;

}
.main-wrapper {
  height: 100vh;
}

.room-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}
.room-header .logo-wrapper {
  margin: .2rem 0 .5rem 0;
}
.room-code {
  align-self: flex-start;
  margin: 10% 0 0 5%;
  font-weight: 300;
  font-size: 1.5rem;
}
.room-actions {
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin: 0 5% 20% 0;
  opacity: .5;
}
.room-content {
  overflow: hidden;
  height: 60%;
}
.song-icon, .playlist-icon {
  width: 35%;
}
.cls-song{fill:#3e3e42;}
.cls-playlist{fill:#3e3e42;}
.waves-wrapper {
  //height: 36%;
  overflow: hidden;
  padding: 2rem 0 0 0;
}


.playlist-wrapper {
  //display: none;
  display: block;
}
.songs-section {
  overflow: scroll;
}
.playlist-song-wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
}
.playlist-song-info {
  display: flex;
  flex-direction: column;
}
.playlist-song-delete {
  width: 50%;
}

