//Search
@search-transition: all 1.2s ease-in-out;

.cls-search{fill:#3e3e42;}
.search-wrapper {
  padding: 1rem;
  border-radius: 6px;
  position: relative;
  bottom: 0;
  transform: 0;
  height: 15%;
  transition: height .2s ease-out;
}
.search-bar {
  background: @grey-lighter;
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  opacity: .8;
  margin: 1rem;
}
.search-icon {
  width: 10%;
  padding: 6px 6px 0 0;
}
.search-input-wrapper {
  display: flex;
  justify-content: center;
}
.search-input {
  background: none;
  width: 100%;
  padding: .5rem .5rem .5rem 1rem;
}
input[type="search"]
{
  font-size:2rem;
}
.close-search-wrapper {
  display: flex;
  width: 0;
  opacity: 0;
}
.add-or-queue-wrapper {
  display: flex;
  background: @grey-darkest;
  color: @grey-lighter;
  margin: 1rem;
  height: 5%;
  border-radius: 6px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}
.selected {
  background: @grey-lighter;
  color: @grey-darker;
  border-radius: 6px 0 0 6px;
  transition: all .2s ease-in-out;
}
.add-song {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.que-song {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.song-info {
  opacity: 0;
  transition: @search-transition;
  transition-delay: 1s;
}
.searchActive .room-content {
  height: 5%;
  transition: @search-transition;
}
.searchingWrapper {
  background: @grey-darker;
  overflow: scroll;
  height: 75%;
  transition: @search-transition;
}

.searchingWrapper .search-bar {
  background: @grey-darkest;
  opacity: 1;
  border-radius: 6px;
  transition: @search-transition;
}
.searchingWrapper .search-input {
  color: @grey-lightest;
  background: @grey-darkest;
  border-radius: 6px;
  transition: @search-transition;
}
.searchingWrapper .cls-search {
  opacity: 0;
  width: 0;
}
.searchingWrapper .close-search-wrapper {
  width: 10%;
  opacity: 1;
}
.searchingWrapper .close-search-wrapper:hover {
  cursor: pointer;
}
.close-search-wrapper svg {
  width: 40%;
}
.cls-exit{fill:#f1f1f2;}
.searched-songs-wrapper {
  height: 5%;
  opacity: 0;
  padding: 0 1.2rem;
}
.searchingWrapper .searched-songs-wrapper {
  height: 30%;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.searchingWrapper .song-info {
  display: flex;
  flex-direction: column;
  opacity: 1;
}
.searchingWrapper .song-added-by {
  opacity: 1;
}
.search-song {
  cursor: pointer;
}


