//Search
@search-transition: all 1.2s ease-in-out;

.cls-search{fill:#3e3e42;}
.search-wrapper {
  padding: 1rem;
  border-radius: 6px;
  position: relative;
  transform: 0;
  height: 15%;
  transition: height .2s ease-out;
}
.search-bar {
  background: @grey-lighter;
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  opacity: .8;
  margin: 1rem;
}
.search-icon {
  width: 10%;
  padding: 6px 6px 0 0;
}


//.search-section {
//  display: flex;
//  max-width: 90%;
//}

.search-input-wrapper {
  display: flex;
  justify-content: center;
}

.search-input {
  background: none;
  width: 100%;
  padding: .5rem;
}
input[type="search"]
{
  font-size:2rem;
}

.close-search-wrapper {
  display: flex;
  width: 0;
  opacity: 0;
}
.song-info {
  opacity: 0;
  transition: @search-transition;
  transition-delay: 1s;
}
.searchActive .room-content {
  height: 5%;
  transition: @search-transition;
}
.searchingWrapper {
  background: @grey-darker;
  overflow: scroll;
  height: 75%;
  transition: @search-transition;
}

.searchingWrapper .search-bar {
  background: @grey-darkest;
  opacity: 1;
  border-radius: 6px;
  transition: @search-transition;
}
.searchingWrapper .search-input {
  color: @grey-lightest;
  background: @grey-darkest;
  border-radius: 6px;
  transition: @search-transition;
}
.searchingWrapper .cls-search {
  opacity: 0;
  width: 0;
}
.searchingWrapper .close-search-wrapper {
  width: 10%;
  opacity: 1;
}
.searchingWrapper .close-search-wrapper:hover {
  cursor: pointer;
}
.close-search-wrapper svg {
  width: 40%;
}
.cls-exit{fill:#f1f1f2;}
.searched-songs-wrapper {
  height: 5%;
  opacity: 0;
  padding: 0 1.2rem;
  //transition: @search-transition;
}
.searchingWrapper .searched-songs-wrapper {
  height: 30%;
  opacity: 1;
  //transition: @search-transition;
  display: flex;
  flex-direction: column;
}
.searchingWrapper .song-info {
  display: flex;
  flex-direction: column;
  opacity: 1;
}
.searchingWrapper .song-added-by {
  opacity: 1;
}
.search-song {
  cursor: pointer;
  transition: padding-left .3s ease-in-out;
}
.search-song:hover {
  padding-left: 1rem;
}

